/* --- Ulities--- */
body{
    font-family: 'Poppins', sans-serif;
    background:#F3F1FF;
}
main{
    display:flex;
    justify-content:center;
}
.container{
    background-color:#ffff;
    width: 870px;
    padding:10px 30px 40px 30px;
}
/* top players */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size:24px;
}
.players{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px 0;
    margin-top:40px;
}
.player{
    display:flex;
    align-items:center;
}
.player-name{
    margin-left:16px;
    font-size:18px;
}
.player img{
    width:56px;
    height: 56px;
}
hr{
    border: 1px solid #D1D1D1;
}

/* blogs area */
.blog-section{
    margin-top:40px;
}
.blog{
    display:flex;
}
.thumbnail img{
    width:177px;
    height:117px;
}
.blog-info{
    margin-left:16px;
}
.blog-info .blog-title{
    font-size:20px;
}
.blog-info .blog-author{
    color:#9F9F9F;
    font-size: 16px;
}
.blog-info a{
    text-decoration:none;
    color:#562EFF;
}